<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760382909707-4vnb6mjkladbeqgcp7iv2nuh6d7bumo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760382909707-4vnb6mjkladbeqgcp7iv2nuh6d7bumo9</string>
	<key>API_KEY</key>
	<string>AIzaSyAxpl1iK3_Q70-zHmsBPDhB2IKSK4SG48o</string>
	<key>GCM_SENDER_ID</key>
	<string>760382909707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.largeCapacityContainer</string>
	<key>PROJECT_ID</key>
	<string>largecapacitycontainer</string>
	<key>STORAGE_BUCKET</key>
	<string>largecapacitycontainer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760382909707:ios:650c9fe6b8278a7d43060e</string>
</dict>
</plist>